<a href="https://colab.research.google.com/github/jonahcoutinho/Machine-Learning/blob/main/Hyperparameter_Tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.datasets import load_iris
from sklearn.datasets import load_digits
from sklearn.model_selection import cross_val_score

In [14]:
iris=load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [15]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df['flower']=iris.target

In [16]:
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  flower
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [17]:
df.flower=df.flower.apply(lambda x:iris.target_names[x])

In [22]:
cross_val_score(SVC(kernel='linear',C=10,gamma='auto'),iris.data,iris.target,cv=5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [23]:
cross_val_score(SVC(kernel='rbf',C=10,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [24]:
#too many combinations? use gridsearch!

In [26]:
from sklearn.model_selection import GridSearchCV
model=SVC()
param={'kernel':['linear','rbf','poly'],
       'C':[1,10,20], 'gamma': [0.001, 0.0001,'auto']} 
grid=GridSearchCV(model,param,cv=5)
grid.fit(iris.data,iris.target)
grid.best_params_

{'C': 1, 'gamma': 0.001, 'kernel': 'linear'}

now this can be a costly process because it does a full search with all possible combinations


*RandomizdSearchCV*

In [32]:
from sklearn.model_selection import RandomizedSearchCV
model=SVC()
param={'kernel':['linear','rbf','poly'],
       'C':[1,10,20], 'gamma': [0.001, 0.0001,'auto']} 
grid=RandomizedSearchCV(model,param,cv=5,n_iter=20) #WE CAN SET ITER VALUE
grid.fit(iris.data,iris.target)
grid.best_params_

{'C': 1, 'gamma': 'auto', 'kernel': 'linear'}

NOW WHAT IF WE WANT TO CHECK WHICH MODEL/ALGO ALONG WITH ITS PARAMS IS THE BEST?!

In [36]:
model_params={
    'svm':{
        'model':SVC(),
            'params': {
            'kernel':['linear','rbf','poly'],
            'C':[1,10,20], 
            'gamma': [0.001, 0.0001,'auto']
                  }
           },
           'random_forest':{
        'model':RandomForestClassifier(),
            'params':{
            'n_estimators':[1,5,10],
            'criterion':['gini','entropy'], 
            'max_depth': [5,10,20]
                  }
           },
             'logistic_regression':{
        'model':LogisticRegression(),
            'params':{
            'solver':['newton-cg','lbfgs','saga','liblinear'],
            'multi_class':['auto', 'ovr', 'multinomial'], 
            'C': [1,5,10]
                  }
           }
}

In [ ]:
scores=[]
for model_name,mp in model_params.items():
  clf=GridSearchCV(mp['model'],mp['params'],cv=5)
  clf.fit(iris.data,iris.target)
  scores.append({'model':model_name,'best_score':clf.best_score_,'best_params':clf.best_params_})

In [44]:
df=pd.DataFrame(scores)
df

                 model  ...                                        best_params
0                  svm  ...       {'C': 1, 'gamma': 0.001, 'kernel': 'linear'}
1        random_forest  ...  {'criterion': 'entropy', 'max_depth': 20, 'n_e...
2  logistic_regression  ...  {'C': 1, 'multi_class': 'auto', 'solver': 'saga'}

[3 rows x 3 columns]